<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页头</title>
</head>
<body>
<!--首页头-->
<div style="text-align: center;background: chartreuse;height: 27.5px;font-family: 楷体;font-size: 10px">
    <img src="" alt="签">
    将酸菜鱼小说网保存到桌面
    &nbsp;&nbsp;&nbsp;&nbsp;
    <img src="" alt="签">
    收藏酸菜鱼小说
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    账号：<input type="text" name="username" style="width: 100px">
    &nbsp;&nbsp;&nbsp;&nbsp;
    密码：<input type="password" name="userpwd" style="width: 100px">
    &nbsp;&nbsp;
    <input type="button" value=" 登 录 " style="font-family: 楷体;font-size: 10px">
    &nbsp;&nbsp;
    <a href="#">忘记密码</a>
    &nbsp;&nbsp;
    <a href="#">用户注册</a>
</div>
</body>
</html>
